/* -----------------------
   --   Miscellaneous   --
   -----------------------
 */
.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.space-before{
	padding-top: 1em;
}