/* -----------------------
   --   Miscellaneous   --
   -----------------------
 */

/* positioning */
.left{
	float: left;
}

.right{
	float: right;
}

.space-before{
	padding-top: 1em;
}



/* Sizes */
.half-width{
 	width: 50%;
}



/* Font */
.upper {
    text-transform: uppercase;
}

.center {
    text-align: center;
}